.container {
    max-width: 640px;
}
.avatar {
    text-align: center;
}
.avatar img {
    width: 100%;
    max-width: 240px;
}
.social {
    justify-content: space-around;
}
.social .mdl-cell {
    width: 16.666666%;
    text-align: center;
}