.content-wrapper {
    display: flex;
}
.container {
    max-width: 640px;
    align-self: center;
}
.avatar {
    text-align: center;
}
.avatar img {
    width: 100%;
    max-width: 240px;
}
.social {
    justify-content: space-around;
}
.social > .mdl-cell {
    width: 14.2857142%;
    text-align: center;
    padding-bottom: 16px;
}